h1 {

    color: brown;
    background-color: antiquewhite;
    text-align: center;
    width: 300px;
    margin: auto;
}

.box {
    
    width: 750px;

    margin: 30px auto;
    padding: 40px ;
}

p {
    background-color: deeppink;
    text-align: center;
    width: 700px;
    border: 5px solid green;
    font-size: 22px;
    color: white;
    margin: auto;
    padding: 20px;
}



